{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block styles%}
    {{ super() }}
{% endblock %}
{% block content %}

  <div class="container" style="background-image:url(https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwih1YW8xrLdAhUCzoUKHfCLB1QQjRx6BAgBEAU&url=https%3A%2F%2Fwww.videoblocks.com%2Fvideo%2Fabstract-dark-background-honeycomb-grid-with-lighting-effect-for-technology-concept-006-spfzt2pcgizupl4v3&psig=AOvVaw3rK0XnhmiWG5_E2j64c4J6&ust=1536741530056721)">
    <div class="container" style="font-family: 'Russo One', sans-serif;" style="text-align: center;">
      <div class="row" style="margin-top:30px">
        <h4 class="text-left"><a class="btn btn-primary" href="/add/category"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>   Add Your Category </a></h4>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>{{ macro.displayCategoryList(categories) }}</h4>
                </div>
                <div class="panel-body">
                    
                    <div class="panel-footer"></div>
                </div>
            </div>
        </div>
      

      </div>
    </div>


{% endblock %}
{% macro displayPitches(pitch_list) %}
  {% for pitches in pitch_list %}
    <div class="col-md-6">
      <div class="well">
        <div class="row">
          <div class="col-md-6">
              <h3>{{pitches.content}}</h3>
          </div>
          <div class="col-md-6">
            <p>POSTED: {{pitches.date_posted.strftime('%Y/%m/%d || %r')}}</p>
            <a href="/pitch/{{pitches.id}}"><h4>COMMENT</h4></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
{% endmacro %}
