
 {%extends 'base.html'%}{% import 'macros.html' as macro%}

 
 {% block content %}
 <div class="container">
      <div class="col-md-12">
         <p class="text-left"><a class="btn btn-primary" href="{{url_for('.new_blog',id=blogs.blogcategory_id)}}">Post Blog</a></p>
         <div class="well" style="background-color:blue">
           <h3>{{blogs.content}}</h3>
         </div>
 
         <div class="col-md-6 col-offset-1">
           <table>
             <tr>
               <td><h4 class="text-left"><a class="btn btn-round">Upvote <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>  </a></h4></td>
               <td>&nbsp;</td>
               <td><h4 class="text-left"><a class="btn btn-round">Downvote <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>  </a></h4></td>
               <td>&nbsp;</td>
               <td><h4 class="text-right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    Comments   <a class="btn btn-primary" href="{{url_for('.post_comment',id=blogs.id)}}"> Add your comment</a></h4></td>
             </tr>
           </table>
 
          {% if comment %}
            {{ macro.displaySpecificBlog(comment)}}
          
          {%else%}
          <h3 class="text-center" style="color:orange;">No comments </h3>
          {% endif %}
         </div>
 
     </div>
   </div>
 
 {% endblock %}
 